<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>キャラクター作成</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <h3 style="text-align: center">能力値</h3>
  <form padding (submit)="submitAbility()">
    <ion-grid>
      <ion-row *ngFor="let i of [0, 3, 6]">
        <ion-col *ngFor="let j of [i, i+1, i+2]">
          <ion-item *ngIf="abilities[j].name != ''">
            <ion-label floating>{{abilities[j].name}}</ion-label>
            <ion-input type="number" [(ngModel)]="abilities[j].point" [ngModelOptions]="{standalone: true}" required min="1"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
    <button type="submit" ion-button block>確定</button>
  </form>

</ion-content>
